<div class="info-tag-container">
    {{#if icon}}
    <i class="fa {{icon}}"></i>
    {{/if}}

    {{#if url}}
        <h6 class="info-text">
            <a class="link" href="{{url}}" target="{{#if email}}_top{{else}}_blank{{/if}}">
                {{removeProtocol text}} <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </h6>
    {{else}}
        <h6 class="info-text">{{{text}}}</h6>
    {{/if}}
</div>