<div class="section-header clearfix">
    {{#if name}}
    <h3 class="bold pull-left">
        {{#if url}}
            <a href="{{url}}" target="_blank">
                {{name}} <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        {{else}}
            {{name}}{{#if awarder}}<span class="awarder"> - {{awarder}}</span>{{/if}}
        {{/if}}
    </h3>
    {{/if}}
    <h5 class="italic bold pull-right">
        {{#if startDate}}
            {{#if endDate}}
				<span class="startDate">{{formatDate startDate endDate}}</span>
				<span class="endDate"> - {{formatDate endDate undefined}}</span>
            {{else}}
				<span class="startDate">{{formatDate startDate startDate}}</span>
				<span class="endDate"> - Present</span>
            {{/if}}
        {{else if endDate}}
			<span class="endDate">{{formatDate endDate undefined}}</span>			
		{{else if date}}
            {{formatYear date}}
        {{/if}}
    </h5>
</div>